<footer>
  <p>
    Creative Ports is a project with the aim improve and encourage collaboration between the Cultural and Creative Industries (CCI) actors of the participating countries and to further develop strategies and processes around internationalisation.
  </p>
  <p>
    The project is funded by the Interreg Baltic Sea Region Programme of the European Union. It is a flagship project of the EU Strategy for the Baltic Sea Region (EUSBSR) and PA Culture.
  </p>

  <nav class="footer-nav" aria-label="Secondary">
    <ul>
      {%- for page in collections.pages -%}
      <li>
        <a href="{{ page.url }}">
          {{ page.data.title }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</footer>
