<a class="show-on-focus" href="#main-content">Skip to content</a>
<header role="banner">
  <div class="">
    <nav class="main-navigation hidden" aria-label="Primary">
      <a href="/" class="logo">
        {% if site.logo %}
        <img width="180" height="61" src="{{ site.logo }}" alt="{{ site.title }}" />
        {% else %}
        {{ site.title }}
        {% endif %}
      </a>

      <h2 class="small-intro">
        <span>
          The Internationalisation of the Cultural and Creative Industries
        </span>
      </h2>
      <ul class="toc">
        <li><a href="/">Home</a></li>
        {%- for chapter in collections.chapters -%}
        <li>
          <a href="{{ chapter.url }}">
            {{ chapter.data.title }}
          </a>
        </li>
        {%- endfor -%}
        {%- for page in collections.pages -%}
        <li class="page-link">
          <a href="{{ page.url }}">
            {{ page.data.title }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
  <a href="#" class="menu-toggle" title="Show menu"><span></span></a>
</header>
