{% set previousPost = collections.chapters | getPreviousCollectionItem(page) %}
{% set nextPost = collections.chapters | getNextCollectionItem(page) %}
{% extends "./base.html" %}

{% block content %}
  <article>
    <h1><span>{{ title }}</span></h1>
    {% if header %}
      <img class="header-image" src="{{ header }}" alt="" />
    {% endif %}
    <div class="article-wrapper">
      {{ content | safe }}
    </div>
  </article>

  <nav class="chapter-navigation">
    {% if previousPost %}
      <a href="{{ previousPost.url }}" title="{{ previousPost.data.title }}" class="previous"> </a>
    {% else %}
      <div></div>
    {% endif %}
    {% if nextPost %}
      <a href="{{ nextPost.url }}" title="{{ nextPost.data.titla }}" class="next"> </a>
    {% else %}
      <div></div>
    {% endif %}
  </nav>
{% endblock %}
