{% set previousPost = collections.chapters | getPreviousCollectionItem(page) %}
{% set nextPost = collections.chapters | getNextCollectionItem(page) %}
{% extends "./base.html" %}

{% block content %}
  <h1><span>{{ title }}</span></h1>
  <article>
    {{ content | safe }}
  </article>

  <nav class="chapter-navigation">
    {% if previousPost %}
      <a href="{{ previousPost.url }}" title="{{ previousPost.data.title }}" class="previous"> </a>
    {% else %}
      <div></div>
    {% endif %}
    {% if nextPost %}
      <a href="{{ nextPost.url }}" title="{{ nextPost.data.titla }}" class="next"> </a>
    {% else %}
      <div></div>
    {% endif %}
  </nav>
{% endblock %}
