---
bodyClass: home
---
{% extends "./base.html" %} {% block content %}
  <div class="site-logo">
    <img src="{{ site.logo }}" alt="{{ site.title }}" width="180" height="61" />
    <img src="{{ site.sponsor }}" width="227" height="44" />
  </div>
  <h1><span>{{ title }}</span></h1>
  {{ content | safe }}

  <h2>Chapters:</h2>
  <div class="toc-wrapper">
    <ol class="toc">
      {%- for chapter in collections.chapters -%}
      <li>
        <a href="{{ chapter.url }}">
          {{ chapter.data.title }}
        </a>
      </li>
      {%- endfor -%}
    </ol>
  </div>

  <!-- lazy hack to avoid having to write a bunch of extra CSS -->
  <article>
    <div class="article-wrapper">
      <p>
        <a href="/assets/pdf/CreativePorts_Catalogue_Full.pdf" class="download-link">Download publication as PDF</a>
      </p>
    </div>
  </article>

  <nav class="chapter-navigation">
    <div></div>
    {% set first = collections.chapters | first %}
    <a href="{{ first.url }}" title="{{ first.data.titla }}" class="next"> </a>
  </nav>
{% endblock %}
